// Brand Color Tokens
$blue-500: #2482AA;
$blue-400: #2EA7DA;
$blue-300: #76CFF5;
$blue-200: #A1DEF8;
$blue-100: #EBF8FE;
$neutral-500: #1C1C1C;
$neutral-400: #383838;
$neutral-300: #717171;
$neutral-200: #C7C7C7;
$neutral-100: #E3E3E3;
$white-color: #FFFFFF;
$success-500: #24A148;
$warning-500: #FF832B;
$error-500: #DA1E28;

// Text Tokens
$font-family-base: 'Arial, sans-serif';
$font-size-base: 16px;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height-base: 1.5;