// Importing DM Sans font from Google Fonts and importing colorTokens
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import "./colorTokens";

// Font variables
$font-family-base: 'DM Sans', sans-serif;
$font-size-base: 16px; // 1rem = 16px
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$line-height-base: 1.5;
$letter-spacing-base: 0.5px;

// Font Sizes
$heading-01: 3rem;    // 48px
$heading-02: 2.5rem;  // 40px
$heading-03: 2rem;    // 32px
$heading-04: 1.75rem; // 28px
$heading-05: 1.5rem;  // 24px
$heading-06: 1.25rem;  // 20px
$body-01: 1.125rem;   // 18px
$body-02: 1rem;       // 16px
$body-03: 0.875rem;   // 14px
$caption: 0.75rem;    // 12px

// Line Heights
$line-height-1: 3.5rem;
$line-height-2: 3rem;
$line-height-3: 2.5rem;
$line-height-4: 2rem;
$line-height-body: 1.375rem;
$line-height-caption: 1rem;

// Headings and Body Styles
h1, h2, h3, h4, h5, h6, body {
  font-family: $font-family-base;
  line-height: $line-height-body;
  font-weight: $font-weight-normal;
}

h1 {
    font-size: $heading-01;
    line-height: $line-height-1;
  }
  h2 {
    font-size: $heading-02;
    line-height: $line-height-2;
  }
  h3 {
    font-size: $heading-03;
    line-height: $line-height-3;
  }
  h4 {
    font-size: $heading-04;
    line-height: $line-height-4;
  }
  h5 {
    font-size: $heading-05;
    line-height: $line-height-4;
  }
  h6 {
    font-size: $heading-06;
    line-height: $line-height-4;
  }
  .body1 {
    font-size: $body-01;
    line-height: $line-height-body;
  }
  .body2 {
    font-size: $body-02;
    line-height: $line-height-body;
  }
  .body3 {
    font-size: $body-03;
    line-height: $line-height-body;
  }
  .caption {
    font-size: $caption;
    line-height: $line-height-caption;
  }

